body, html {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: visible; /* Stop background animation from creating horizontal scroll. */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html {
  scroll-behavior: smooth;
}

h1 {
  text-align: center;
  font-size: 60px;
  margin: 0;
  font-family: 'Helsinki', sans-serif;
  color: white;
  user-select: none;
}

p {
  text-align: left;
  font-size: 22px;
  font-family: 'Komika', sans-serif;
}

/* BACKGROUND */

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(calc(-373px * 3), 0, 0); /* The image width */
  }
}

.bg-container {
  position: relative;
  overflow: hidden;
  height: 100dvh;
  width: 100%;
}

.bg {
  position: absolute;
  z-index: -1;
  background: linear-gradient(to bottom, rgba(238, 255, 1, 0.02), rgba(11, 25, 41, 0.73)), url("../assets/images/backgrounds/Background.png") repeat;
  background-size: 150px;
  height: 100vh;
  width: 5076px;
  animation: slide 60s linear infinite;
}

/* LOGO */

.jjbmc-logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 350px;
  pointer-events: none;
  z-index: 1
}
.jjbmc-logo img {
  width: 350px;
}

/* NAVBAR */

.navbar {
  position: absolute;
  top: 0;
  display: flex;
  height: 60px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}
.nav-buttons {
  display: inline-flex;
  height: 100%;
  align-items: center;
  margin-left: auto;
  margin-right: 80px;

  font-family: "Helsinki", sans-serif;
  font-size: 30px;
  letter-spacing: 5px;
  user-select: none;
}
.nav-buttons a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.nav-buttons a:hover {
  color: yellow;
}
.nav-pipe {
  margin: 0 30px;
  font-family: "Starz";
  color: rgba(255, 255, 255, 0.159);
}

/* LANGUAGE SELECT */

.flag {
  position: relative;
  height: 60%;
  width: fit-content;
}
.flag img {
  height: 100%;
}
.flag-overflow {
  border: solid 2px white;
  border-radius: 5px;
  height: 100%;
  overflow: hidden;
}
.flag:hover img {
  filter: brightness(1.1);
}
.flag:hover .language-hitbox {
  display: block;
}
.language-hitbox {
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  width: 350%;
  height: 80px;
  /* border: solid 1px white; */
  display: none;
}
.flag:hover .language-dropdown {
  display: flex;
}
.language-dropdown {
  position: absolute;
  left: 50%;
  right: 50%;
  top: 50px;
  transform: translateX(-50%);
  width: 350%;
  height: auto;
  padding-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.9);
  border: solid 3px white;
  display: none;
  flex-direction: column;

  font-family: "Komika", "Digi Kyokasho", arial;
  font-size: 30px;
  letter-spacing: 0;
}
.language-dropdown a {
  margin-top: 10px;
  margin-left: 15px;
}
.small-flag img {
  position: relative;
  top: 6px;
  height: 30px;
  border-radius: 4px;
  margin-right: 10px;
}

/* OTHER */

.border {
  background-color: white;
  height: 5px;
}

.underneath {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(80, 80, 80, 0.5)), url("../assets/images/backgrounds/Background2.png") repeat;
  background-size: 100px;
  padding-bottom: 40px;
}

.about-us {
  width: 72%;
  margin: auto;
  margin-bottom: 30px;
  padding-top: 30px;
  background-color: rgb(0, 0, 0, 0.6);
  color: white;
}
.about-us p {
  padding: 10px 40px;
  padding-bottom: 30px;
}

.footer {
  position: fixed;
  bottom: -1px;
  width: 100vw;
  background-color: black;
  height: 30px;
  text-align: center;
  padding-top: 10px;
  font-family: 'Komika', sans-serif;
  text-transform: uppercase;
  transition: transform 0.5s ease, opacity 0.5s ease;
  user-select: none;
}
.footer a {
  color: white;
}
.footer.hidden {
  transform: translateY(10px);
  opacity: 0%;
  pointer-events: none;
}
.footer.visible {
  transform: translateY(0);
  opacity: 100%;
}

.banner {
  display: block;
  width: 500px;
  margin: 15px auto;
  border: solid 3px white;
}

/* MOBILE */

@media only screen and (max-width: 768px) {
  .navbar {
    display: none;
  }

  .about-us {
    width: 100%;
  }

  .banner {
    width: 75%;
    margin: 15px auto;
  }  
}

/* DESKTOP */

@media only screen and (min-width: 768px) {
  h1:before, h1:after {
    font-family: "Starz";
    content: "F";
    margin: 0 20px;
    font-size: 40px;
    color: rgba(255, 255, 255, 0.2);
    position: relative;
    bottom: 7px;
  }
}

/* SCROLL BAR */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1d1d1d;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7c7c7c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}