.icons {
    position: absolute;
    bottom: 45px;
    width: 100%;
    z-index: 1;

    display: flex;
    justify-content: center;
    gap: 40px;
}

.icon {
    width: 20dvw;
    border: 5px solid white;
    border-radius: 30px;
    will-change: filter;
    filter: drop-shadow(0 10px 0.75rem black);
    transition: 0.1s;
    overflow: hidden;

    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.icon img {
    height: 100%;
}
.icon p {
    margin-right: 25px;
    color: white;
    font-size: 40px;
    font-family: "Helsinki", "Yu Mincho", arial;
}

:root {
    --news-height: 400px;
}

.news-section {
    position: relative;
    display: flex;
    height: 100%;
}

.scrollbox {
    display: inline-flex;
    overflow-x: auto;
    overflow-y: hidden;
    flex-direction: row;
    scroll-snap-type: x mandatory;
    align-items: center;
    padding: 0 50%;
    gap: 100px;
}

.news-post, .news-post a {
    display: flex;
    position: relative;
    top: -10px;
    scroll-snap-align: center;
    transition: 0.1s;
    user-select: none;
    will-change: filter;
    filter: drop-shadow(0 10px 0.75rem rgba(0, 0, 0, 0.489));
}

.news-media {
    height: var(--news-height);
    width: calc(var(--news-height) * 1920/1080);
    border: 5px solid black;
    filter: brightness(100%);
    transition: 0.1s;
    background: grey;
}

.news-date {
    position: absolute;
    margin: 0;
    bottom: 75px;
    padding: 0 20px;
    color: yellow;
    font-family: "Courier Prime", monospace;
    font-size: 25px;
    text-align: left;
    transition: 0.2s;
}

.news-desc {
    position: absolute;
    margin: 0;
    bottom: 14px;
    padding: 0 20px;
    color: white;
    font-family: "Komika", "Digi Kyokasho", sans-serif;
    font-size: 25px;
    text-align: left;
    transition: 0.2s;
}

.news-back {
    position: absolute;
    margin: 0;
    bottom: -1px;
    width: calc(var(--news-height) * 1920/1080 + 10px);
    height: 115px;
    background-color: black;
    opacity: 75%;
    transition: 0.2s;
}

/* DESKTOP ONLY */
@media only screen and (min-width: 768px) {
    .icon {
        height: 90px;
    }
    .icon:hover {
        transform: scale(1.1);
    }

    .news-post:hover {
        transform: scale(105%);
    }
    .news-post:hover .news-media {
        filter: brightness(120%);
    }
    .news-post:hover .news-desc, .news-post:hover .news-back, .news-post:hover .news-date {
        opacity: 0%;
    }
}

/* MOBILE ONLY */
@media only screen and (max-width: 768px) {
    :root {
        --news-height: 150px;
    }

    .scrollbox {
        gap: 30px;
    }

    .news-post {
        top: -5px;
    }

    .news-date {
        top: 165px;
        font-size: 14px;
    }
    .news-desc {
        top: 185px;
        font-size: 14px;
    }
    .news-back {
        bottom: -95px;
        height: 150px;
        z-index: -1;
        border-radius: 10px;
    }

    .icons {
        position: absolute;
        bottom: 10px;
        width: 100%;
        height: 180px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        z-index: 1;
    }
    .icon {
        aspect-ratio: 1 / 1;
        width: 18dvw;
    }
    .icon p {
        display: none;
    }
}