.mod-pages {
    margin: 0 200px;
    padding: 20px 0;
    color: white;
}

.games {
    display: flex;
    justify-content: center;
}

.horizontal-scroll {
    overflow: auto; /* Enable horizontal scrolling */
    display: inline-flex;
    flex-direction: row;
}

.game-column {
    display: flex;
    flex-direction: column;
    margin: 5px 9.5px;
    filter: blur(3px) brightness(30%);
    transition: 0.1s;
}
.game-column:hover {
    filter: blur(0) brightness(100%);
}
.horizontal-scroll:not(:hover) .game-column {
    filter: blur(0) brightness(100%);
}

.game {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 10px 0;
    border: 3px solid white;
    transition: 0.1s;
}
.game:hover {
    transform: scale(105%);
    filter: grayscale(0%);
}
.game-back {
    display: block;
    width: 330px;
    filter: brightness(70%) drop-shadow(0 10px 0.75rem black);
    transition: 0.1s;
}
.game:hover .game-back {
    transform: scale(110%);
    filter: brightness(130%) drop-shadow(0 10px 0.75rem black);
}

.game-logo {
    position: absolute;
    width: 330px;
    inset: 0 0 0 0;
}

.RPCS3-prop {
    position: absolute;
    width: 330px;
    inset: 0 0 0 0;
    filter: brightness(70%);
}
.game:hover .RPCS3-prop {
    filter: brightness(100%);
    animation: RPCS3-anim 2s ease-in-out infinite;
}

@keyframes RPCS3-anim {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(6px) scale(98%);
    }
    100% {
        transform: translateY(0);
    }
}

.JoJoAPI-prop {
    position: absolute;
    width: 330px;
    inset: 0 0 0 0;
    filter: brightness(70%);
}
.game:hover .JoJoAPI-prop {
    filter: brightness(100%);
    animation: JoJoAPI-anim 5s infinite;
}

@keyframes JoJoAPI-anim {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translateX(45px) translateY(24px);
    }
    45% {
        transform: translateX(150px) translateY(5px);
    }
    80% {
        transform: translateX(15px) translateY(40px);
    }
    100% {
        transform: translate(0);
    }
}

.AllStarBattleR-prop {
    position: absolute;
    width: 330px;
    inset: 0 0 0 0;
    filter: brightness(70%);
}
.game:hover .AllStarBattleR-prop {
    filter: brightness(100%);
    animation: AllStarBattleR-anim 0.5s ease-in-out infinite;
}

@keyframes AllStarBattleR-anim {
    0% {
        transform: translateX(0) translateY(0);
    }
    25% {
        transform: translateX(-2px) translateY(2px) rotate(1deg);
    }
    50% {
        transform: translateX(2px) translateY(0px);
    }
    75% {
        transform: translateX(-2px) translateY(-2px);
    }
    100% {
        transform: translateX(0) translateY(0);
    }
}

.EyesOfHeaven-prop {
    position: absolute;
    width: 330px;
    inset: 0 0 0 0;
    filter: brightness(70%);
    opacity: 30%;
}
.game:hover .EyesOfHeaven-prop {
    filter: brightness(100%);
    animation: EyesOfHeaven-anim 3s ease-in-out infinite;
}

@keyframes EyesOfHeaven-anim {
    0% {
        opacity: 30%;
    }
    49% {
        opacity: 80%;
    }
    51% {
        opacity: 80%;
    }
    100% {
        opacity: 30%;
    }
}

.AllStarBattle-prop {
    position: absolute;
    width: 330px;
    inset: 0 0 0 0;
    filter: brightness(70%);
    opacity: 100%;
}
.game:hover .AllStarBattle-prop {
    filter: brightness(100%);
    animation: AllStarBattle-anim 3s ease-in-out infinite;
}

@keyframes AllStarBattle-anim {
    0% {
        opacity: 100%;
    }
    50% {
        opacity: 40%;
    }
    100% {
        opacity: 100%;
    }
}