body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden; /* Stop background animation from creating horizontal scroll. */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  scroll-behavior: smooth;
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(calc(-373px * 3), 0, 0); /* The image width */
  }
}

.bg-container {
  poisition: relative;
  overflow: hidden;
  height: 100dvh;
  width: 100%;
}

.bg {
  position: absolute;
  background: linear-gradient(to bottom, rgba(238, 255, 1, 0.02), rgba(11, 25, 41, 0.73)), url("./assets/images/backgrounds/Background.png") repeat;
  background-size: 150px;
  height: 100vh;
  width: 5076px;
  animation: slide 60s linear infinite;
}

:root {
  --news-height: 400px;
}

.jjbmc-logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 350px;
}

.nav-background {
  position: absolute;
  right: 0;
  top: 0;
  width: 495px;
  height: 80px;
  border-bottom-left-radius: 20px;
  background-color: rgba(0, 0, 0, 0.6);
}

.navbar {
  position: absolute;
  top: 13px;
  right: 30px;
  text-align: right;
  font-family: "Komika-Hand", sans-serif;
  font-size: 30px;
}

.navbar, .navbar a {
  color: white;
}

.news-section, .news-section a {
  height: var(--news-height);
  width: calc(var(--news-height) * 1920/1080);
  position: absolute;
  margin: auto;
  inset: 0 0 50px 0;
  transition: 0.1s;
}
.news-section:hover {
  transform: scale(105%);
  filter: brightness(120%);
}
.news-section:hover .news-text, .news-section:hover .back {
  opacity: 0%;
}

.news-image {
  position: absolute;
  margin: auto;
  inset: 0 0 0 0;
  border: 5px solid black;
  height: var(--news-height);
  filter: brightness(100%) drop-shadow(0 10px 0.75rem black);
  transition: 0.1s;
}

.news-text {
  position: absolute;
  margin: 0;
  bottom: 8px;
  left: 20px;
  color: white;
  font-family: "Komika-Bold", sans-serif;
  font-size: 35px;
  text-align: left;
  transition: 0.2s;
}

.back {
  width: calc(var(--news-height) * 1920/1080 + 10px);
  height: 60px;
  background-color: black;
  opacity: 75%;
  position: absolute;
  margin: 0;
  bottom: -1px;
  transition: 0.2s;
}

.arrow {
  position: absolute;
  height: 120px;
  transform: rotate(calc(var(--rotation) * 90deg));
  transform-origin: 60px 60px;
  margin: auto;
  filter: drop-shadow(-5px 0 0.75rem black);
  animation: hoverLeftRight 2s infinite ease-in-out;
  transition: 0.1s;
}

.arrow:hover {
  filter: brightness(110%) drop-shadow(-5px 0 0.75rem black);
}

@keyframes hoverLeftRight {
  0% {
    transform: translateX(0) rotate(calc(var(--rotation) * 90deg));
  }
  50% {
    transform: translateX(calc(var(--rotation) * 20px)) rotate(calc(var(--rotation) * 90deg)); /* Move the image to the right */
  }
  100% {
    transform: translateX(0) rotate(calc(var(--rotation) * 90deg)); /* Move the image back to its original position */
  }
}

.icons {
  position: absolute;
  bottom: 10px;
  width: 100%;
  height: 180px;

  display: flex;
  justify-content: center; /* Distributes icons evenly */
  align-items: center; /* Vertically centers icons within the container */
  gap: 50px;
}

.icon {
  width: 130px;
  height: 130px;
  background-size: contain;
  border: 5px solid white;
  border-radius: 30px;
  filter: drop-shadow(0 10px 0.75rem black);
  transition: 0.1s;
}
.icon:hover {
  transform: scale(110%) rotate(10deg);
}

.border {
  background-color: white;
  height: 5px;
}

.underneath {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(80, 80, 80, 0.5)), url("./assets/images/backgrounds/Background2.png") repeat;
  background-size: 100px;
  padding-bottom: 40px;
}

.about-us {
  margin: 0 200px;
  padding: 10px 40px;
  padding-top: 30px;
  background-color: rgb(0, 0, 0, 0.6);
  color: white;
}

.footer {
  background-color: black;
  height: 30px;
  text-align: center;
  padding-top: 10px;
  font-family: 'Komika', sans-serif;
}
.footer a{
  color: white;
}

h1 {
  text-align: center;
  font-size: 60px;
  margin: 0;
  font-family: 'Helsinki', sans-serif;
}

p {
  text-align: left;
  font-size: 22px;
  font-family: 'Komika', sans-serif;
}

/* SCROLL BAR */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1d1d1d;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7c7c7c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}